* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    scroll-behavior: smooth;
}

header {
    background: #ab7575;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00adb5;
}

section {
    padding: 100px 50px;
    min-height: 100vh;
}

#hero {
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    text-align: center;
    padding-top: 150px;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.btn:hover {
    background: #222;
    transform: scale(1.05);
    transition: 0.3s;
}

.project-card {
    background: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}
